<div class="container">
	<profile-banner user="user"></profile-banner>

	<div class="row">
		<div class="col l3">
			<div class="card-panel sidebar">
				<div class="sidebar-item"><a href="">プロフィール</a></div>
				<div class="divider"></div>
				<div class="sidebar-item"><a href="#/manage-book">本の管理</a></div>
				<div class="divider"></div>
				<div class="sidebar-item active"><a href="#/borrow">あなたが借りたい本</a></div>
				<div class="divider"></div>
				<div class="sidebar-item"><a href="#/lend">あなたにリクエストが届いている本</a></div>
			</div>
		</div>
		<div class="col l9">
			<div class="card-panel">
				<div class="row">
					<ul class="tabs">
						<li class="tab col s4"><a class="black-text" href="#all">覧</a></li>
						<li class="tab col s4"><a class="active black-text" href="#active">貸出中</a></li>
						<li class="tab col s4"><a class="black-text" href="#complete">完了</a></li>
					</ul>
				</div>
				
				<div id="all">
					<div ng-repeat="request in requests | orderBy:['-status', 'book.bookname']">
					<div class="row" style="padding: 10px 0;">
						<div class="col l1">
							<img ng-src="{{request.book.url}}" alt="" class="responsive-img">
						</div>
						<div class="col l7">
							<div>You want to borrow from <b>{{request.toUser.name}}</b>({{request.toUser.email}}) the book <b>{{request.book.bookname}}</b></div>
							<div>
								<div class="left">
									<i class="fa fa-calendar"></i> 待ち合わせ日:
									<i>{{request.startDate.substring(0,10)}}</i>
								</div>
								<div class="right">
									<i class="fa fa-calendar"></i> 返却日:
									<i>{{request.returnDate.substring(0,10)}}</i>
								</div>
							</div>
							<div style="clear:both;">
								メッセージ:
								<span ng-repeat="m in request.messages | orderBy:updatedAt:true | limitTo:1">
									{{m.message | limitTo: 35}}{{m.messeage > 35 ? '...' : ''}}
								</span>
								<a href="#/message?borrow={{request.id}}">もっと見る...</a>
							</div>
						</div>
						<div class="col l4">
							<div ng-if="request.status == 'init'">
								<a class="btn grey lighten-2 black-text" ng-click="deleteRequest(request.id);" style="padding: 0 1em">消す</a>
							</div>
							<div ng-if="request.status == 'closed'">
								<a class="btn disabled">Closed</a>
							</div>
							<div ng-if="request.status == 'ongoing'">
								<a class="btn disabled">Accepted</a>
							</div>
						</div>
					</div>
					<div ng-if="!$last" class="divider"></div>
					</div>
				</div>

				<div id="active">
					<div ng-repeat="request in requests | filter:{status: '!closed'} | orderBy:'book.bookname'">
					<div class="row" style="padding: 10px 0;">
						<div class="col l1">
							<img ng-src="{{request.book.url}}" alt="" class="responsive-img">
						</div>
						<div class="col l7">
							<div>You want to borrow from <b>{{request.toUser.name}}</b>({{request.toUser.email}}) the book <b>{{request.book.bookname}}</b></div>
							<div>
								<div class="left">
									<i class="fa fa-calendar"></i> 待ち合わせ日:
									<i>{{request.startDate.substring(0,10)}}</i>
								</div>
								<div class="right">
									<i class="fa fa-calendar"></i> 返却日:
									<i>{{request.returnDate.substring(0,10)}}</i>
								</div>
							</div>
							<div style="clear:both;">
								メッセージ:
								<span ng-repeat="m in request.messages | orderBy:updatedAt:true | limitTo:1">
									{{m.message | limitTo: 35}}{{m.messeage > 35 ? '...' : ''}}
								</span>
								<a href="#/message?borrow={{request.id}}">もっと見る...</a>
							</div>
						</div>
						<div class="col l4">
							<div ng-if="request.status == 'init'">
								<a class="btn grey lighten-2 black-text" ng-click="deleteRequest(request.id);" style="padding: 0 1em">消す</a>
							</div>
							<div ng-if="request.status == 'ongoing'">
								<a class="btn disabled">Accepted</a>
							</div>
						</div>
					</div>
					<div ng-if="!$last" class="divider"></div>
					</div>
				</div>

				<div id="complete">
					<div ng-repeat="request in requests | filter:{status: 'closed'} | orderBy:'book.bookname'">
					<div class="row" style="padding: 10px 0;">
						<div class="col l1">
							<img ng-src="{{request.book.url}}" alt="" class="responsive-img">
						</div>
						<div class="col l7">
							<div>You want to borrow from <b>{{request.toUser.name}}</b>({{request.toUser.email}}) the book <b>{{request.book.bookname}}</b></div>
							<div>
								<div class="left">
									<i class="fa fa-calendar"></i> 待ち合わせ日:
									<i>{{request.startDate.substring(0,10)}}</i>
								</div>
								<div class="right">
									<i class="fa fa-calendar"></i> 返却日:
									<i>{{request.returnDate.substring(0,10)}}</i>
								</div>
							</div>
							<div style="clear:both;">
								メッセージ:
								<span ng-repeat="m in request.messages | orderBy:updatedAt:true | limitTo:1">
									{{m.message | limitTo: 35}}{{m.messeage > 35 ? '...' : ''}}
								</span>
								<a href="#/message?borrow={{request.id}}">もっと見る...</a>
							</div>
						</div>
						<div class="col l4">
							<a class="btn disabled">Closed</a>
						</div>
					</div>
					<div ng-if="!$last" class="divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>