<div class="container">
	<profile-banner user="user"></profile-banner>

	<div class="row">
		<div class="col l3">
			<div class="card-panel sidebar">
				<div class="sidebar-item"><a href="#/manage-book">{{'BOOK_MANAGE' | translate}}</a></div>
				<div class="divider"></div>
				<div class="sidebar-item"><a href="#/borrow">{{'BORROW_REQUEST' | translate}}</a></div>
				<div class="divider"></div>
				<div class="sidebar-item active"><a href="#/lend">{{'LEND_REQUEST' | translate}}</a></div>
			</div>
		</div>
		<div class="col l9">
			<div class="card-panel">
				<div class="row">
					<ul class="tabs">
						<li class="tab col s4"><a class="black-text" href="#all">{{'ALL' | translate}}</a></li>
						<li class="tab col s4"><a class="active black-text" href="#active">{{'ACTIVE' | translate}}</a></li>
						<li class="tab col s4"><a class="black-text" href="#complete">{{'COMPLETE' | translate}}</a></li>
					</ul>
				</div>
				
				<div id="all">
					<div ng-repeat="request in requests | orderBy:['-status', 'book.bookname']">
					<div class="row" style="padding: 10px 0;">
						<div class="col l1">
							<img ng-src="{{request.book.url}}" alt="" class="responsive-img">
						</div>
						<div class="col l7">
							<div translate="LEND_MESSAGE" translate-values='{fromUser:request.fromUser.name, email:request.fromUser.email, book:request.book.bookname, userUrl:"#/profile/"+request.fromUser.id, bookUrl:"#/book/"+request.book.id}'></div>
							<div>
								<div class="left">
									<i class="fa fa-calendar"></i> {{'MEET_UP_DATE' | translate}}:
									<i>{{request.startDate.substring(0,10)}}</i>
								</div>
								<div class="right">
									<i class="fa fa-calendar"></i> {{'RETURN_DATE' | translate}}:
									<i>{{request.returnDate.substring(0,10)}}</i>
								</div>
							</div>
							<div style="clear:both;">
								{{'MESSAGE' | translate}}:
								<span ng-repeat="m in request.messages | orderBy:updatedAt:true | limitTo:1">
									{{m.message | limitTo: 35}}{{m.messeage > 35 ? '...' : ''}}
								</span>
								<a href="#/message?borrow={{request.id}}">{{'VIEW_MORE' | translate}}</a>
							</div>
						</div>
						<div class="col l4">
							<div ng-if="request.status == 'init'">
								<a class="btn waves-effect" style="padding: 0 1em" ng-click="acceptRequest(request.id);">{{'ACCEPT' | translate}}</a>
								<a class="btn grey lighten-2 black-text" ng-click="deleteRequest(request.id);" style="padding: 0 1em">{{'DELETE' | translate}}</a>
							</div>
							<div ng-if="request.status == 'closed'">
								<a class="btn disabled">{{'CLOSED' | translate}}</a>
							</div>
							<div ng-if="request.status == 'ongoing'">
								<a class="btn disabled">{{'ACCEPTED' | translate}}</a>
							</div>
						</div>
					</div>
					<div ng-if="!$last" class="divider"></div>
					</div>
				</div>

				<div id="active">
					<div ng-repeat="request in requests | filter:{status: '!closed'} | orderBy:'book.bookname'">
					<div class="row" style="padding: 10px 0;">
						<div class="col l1">
							<img ng-src="{{request.book.url}}" alt="" class="responsive-img">
						</div>
						<div class="col l7">
							<div translate="LEND_MESSAGE" translate-values='{fromUser:request.fromUser.name, email:request.fromUser.email, book:request.book.bookname, userUrl:"#/profile/"+request.fromUser.id, bookUrl:"#/book/"+request.book.id}'></div>
							<div>
								<div class="left">
									<i class="fa fa-calendar"></i> {{'MEET_UP_DATE' | translate}}:
									<i>{{request.startDate.substring(0,10)}}</i>
								</div>
								<div class="right">
									<i class="fa fa-calendar"></i> {{'RETURN_DATE' | translate}}:
									<i>{{request.returnDate.substring(0,10)}}</i>
								</div>
							</div>
							<div style="clear:both;">
								{{'MESSAGE' | translate}}:
								<span ng-repeat="m in request.messages | orderBy:updatedAt:true | limitTo:1">
									{{m.message | limitTo: 35}}{{m.messeage > 35 ? '...' : ''}}
								</span>
								<a href="#/message?borrow={{request.id}}">{{'VIEW_MORE' | translate}}</a>
							</div>
						</div>
						<div class="col l4">
							<div ng-if="request.status == 'init'">
								<a class="btn waves-effect" style="padding: 0 1em" ng-click="acceptRequest(request.id);">{{'ACCEPT' | translate}}</a>
								<a class="btn grey lighten-2 black-text" ng-click="deleteRequest(request.id);" style="padding: 0 1em">{{'DELETE' | translate}}</a>
							</div>
							<div ng-if="request.status == 'ongoing'">
								<a class="btn disabled">{{'ACCEPTED' | translate}}</a>
							</div>
						</div>
					</div>
					<div ng-if="!$last" class="divider"></div>
					</div>
				</div>

				<div id="complete">
					<div ng-repeat="request in requests | filter:{status: 'closed'} | orderBy:'book.bookname'">
					<div class="row" style="padding: 10px 0;">
						<div class="col l1">
							<img ng-src="{{request.book.url}}" alt="" class="responsive-img">
						</div>
						<div class="col l7">
							<div translate="LEND_MESSAGE" translate-values='{fromUser:request.fromUser.name, email:request.fromUser.email, book:request.book.bookname, userUrl:"#/profile/"+request.fromUser.id, bookUrl:"#/book/"+request.book.id}'></div>
							<div>
								<div class="left">
									<i class="fa fa-calendar"></i> {{'MEET_UP_DATE' | translate}}:
									<i>{{request.startDate.substring(0,10)}}</i>
								</div>
								<div class="right">
									<i class="fa fa-calendar"></i> {{'RETURN_DATE' | translate}}:
									<i>{{request.returnDate.substring(0,10)}}</i>
								</div>
							</div>
							<div style="clear:both;">
								{{'MESSAGE' | translate}}:
								<span ng-repeat="m in request.messages | orderBy:updatedAt:true | limitTo:1">
									{{m.message | limitTo: 35}}{{m.messeage > 35 ? '...' : ''}}
								</span>
								<a href="#/message?borrow={{request.id}}">{{'VIEW_MORE' | translate}}</a>
							</div>
						</div>
						<div class="col l4">
							<a class="btn disabled">{{'CLOSED' | translate}}</a>
						</div>
					</div>
					<div ng-if="!$last" class="divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>