<div class="container">
	<div class="card-panel">
		<div class="row">
			<div class="col l2">
				<img ng-src="{{book.url}}" alt="" class="responsive-img">	
			</div>
			<div class="col l9">
				<h3>{{book.bookname}}</h3>
				<p><b>{{'BOOK_NAME' | translate}}: </b>{{book.author.join(', ')}}</p>
				<p><b>{{'BOOK_TYPE' | translate}}: </b>{{book.type}}</p>
				<p><b>{{'DESCRIPTION' | translate}}: </b>{{book.description}}</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col l4">
			<div class="card owner">
			<div class="card-content">
				<div class="card-title black-text">{{'INFORMATION' | translate}}</div>
				<div class="divider"></div>
				
				<div ng-repeat="owner in book.owners">
				<div class="row">
					<div class="col l3">
						<img ng-src="{{owner.url}}" alt="" class="circle responsive-img">
					</div>
					<div class="col l9 black-text">
						<div><b>{{owner.name}}</b></div>
						<button ng-click="jLoader.openModal('borrowPopup');setBorrow(owner, book);"
							class="btn waves-effect modal-trigger">
							{{'BORROW' | translate}}
						</button>
					</div>
				</div>
				<div ng-if="!$last" class="divider"></div>
				</div>
			</div>
			</div>
		</div>

		<div class="col l8">
			<div class="card-panel">
				<ng-comment comments="commentList" add-message="addMessage(msg)"></ng-comment>
			</div>
		</div>
	</div>
</div>

<div id="borrowPopup" class="modal" borrow-form></div>