<div class="container">
	<div class="card-panel">
		<div class="row">
			<div class="col l2">
				<img src="img/book/book4.jpg" alt="" class="responsive-img">	
			</div>
			<div class="col l9">
				<h3>Rain Reign</h3>
				<p><b>Author: </b>Ann M.Martin</p>
				<p><b>Published in: </b>2014</p>
				<p><b>Description: </b>Rose Howard is obsessed with homonyms. She's thrilled that her own name is a homonym, and she purposely gave her dog Rain a name with two homonyms (Reign, Rein), which, according to Rose's rules of homonyms, is very special. Not everyone understands Rose's obsessions, her rules, and the other things that make her different - not her teachers, not other kids, and not her single father.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col l4">
			<div class="card owner">
			<div class="card-content">
				<div class="card-title black-text">Owners of this book</div>
				<div class="divider"></div>

				<div class="row">
					<div class="col l3">
						<img src="img/avatar/the.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l9 black-text">
						<div><b>Shiro-san</b></div>
						<div class="borrow_infor">
							<i class="material-icons">email</i>Email:
							shiro.atWare@gmail.com
						</div>
						<div class="borrow_infor">
							<i class="material-icons">my_location</i>Prefer place:
							Hinode cho Station
						</div>
						<button data-target="borrowPopup" class="btn waves-effect modal-trigger">Borrow</button>
					</div>
				</div>
				<div class="divider"></div>

				<div class="row">
					<div class="col l3">
						<img src="img/avatar/huy.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l9 black-text">
						<div><b>Huy-san</b></div>
						<div>
							<i class="material-icons">email</i>Email:
							huy.atWare@gmail.com
						</div>
						<div>
							<i class="material-icons">my_location</i>Prefer place:
							Idogaya Station
						</div>
						<button data-target="borrowPopup" class="btn waves-effect modal-trigger">Borrow</button>
					</div>
				</div>
				<div class="divider"></div>

				<div class="row">
					<div class="col l3">
						<img src="img/avatar/jack.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l9 black-text">
						<div><b>Jack-san</b></div>
						<div>
							<i class="material-icons">email</i>Email:
							jack.atWare@gmail.com
						</div>
						<div>
							<i class="material-icons">my_location</i>Prefer place:
							Minatomirai Center Building
						</div>
						<button data-target="borrowPopup" class="btn waves-effect modal-trigger">Borrow</button>
					</div>
				</div>
			</div>
			</div>
		</div>

		<div class="col l8">
			<div class="card-panel">
				<ng-comment comments="comments"></ng-comment>
			</div>
		</div>
	</div>
</div>

<div id="borrowPopup" class="modal"
	ng-include="'views/borrow_form/borrow_form.html'" onload="jLoader.loadDatePicker();"></div>