<div class="container">
	<profile-banner user="user"></profile-banner>

	<div class="row">
		<div class="col l3">
			<ul class="collection">
				<li class="collection-item avatar" ng-repeat="msg in msgList" ng-click="redirect(msg.id);">
					<img ng-src="{{msg.toUser.url}}" alt="" class="circle" ng-if="msg.fromUser.id == user.id">
					<img ng-src="{{msg.fromUser.url}}" alt="" class="circle" ng-if="msg.fromUser.id != user.id">
					<span class="title"><b>{{msg.book.bookname}}</b></span>
					<div ng-if="msg.fromUser.id == user.id">Borrow from {{msg.toUser.name}}</div>
					<div ng-if="msg.fromUser.id != user.id">Lend to {{msg.fromUser.name}}</div>
				</li>
			</ul>
		</div>
		<div class="col l9">
			<div class="card-panel">
				<div class="row" style="margin-bottom:0px;">
					<ul id="breadcrumb" class="left">
						<li>
							<div ng-switch on="borrowFlag">
								<a ng-switch-when="true" href="#/borrow">Borrow</a>
								<a ng-switch-when="false" href="#/lend">Lend</a>
							</div>
						</li>
						<li>
							<a href="">{{request.book.bookname}}</a>
						</li>
					</ul>
					<button class="btn waves-effect right red lighten-2" style="margin-top: 1em;" ng-click="deleteRequest(request.id);" ng-if="request.status != 'closed'">Close</button>
					<button class="btn waves-effect right" style="margin:1em 1em 0 0;" ng-click="acceptRequest(request.id)" ng-if="request.status == 'init'">Accept</button>
				</div>
				<div class="divider"></div>
				<div class="row request-info" style="">
					<div class="col l10">
						<div ng-switch on="borrowFlag">
							<p ng-switch-when="true">You want to borrow from <img ng-src="{{request.toUser.url}}" alt="" class="circle" style="max-width:2em!important"> <b>{{request.toUser.name}}</b>({{request.toUser.email}}) the book <b>{{request.book.bookname}}</b></p>
							<p ng-switch-when="false"><b>{{request.fromUser.name}}</b>({{request.fromUser.email}}) want to borrow your book <b>{{request.book.bookname}}</b></p>
						</div>
						<div class="row" style="margin-bottom: 0px;">
							<div class="col l6">
								<label for="meetUpDate" class="black-text">Meet up Date</label>
								<input type="text" class="datepicker" ng-model="startDate">
							</div>
							<div class="col l6">
								<label for="returnDate" class="black-text">Return Date</label>
								<input type="text" class="datepicker" ng-model="returnDate">
							</div>
						</div>
					</div>
					<div class="col l2">
						<img ng-src="{{request.book.url}}" alt="" class="responsive-img">
					</div>
				</div>

				<ng-comment url="messageUrl" borrow-id="request.id" to-user="request.toUser.id"></ng-comment>

			</div>
		</div>
	</div>
</div>