<div class="container">
	<div class="card-panel">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3"><a class="active black-text" href="#around">Around you</a></li>
					<li class="tab col s3"><a class="black-text" href="#people">People</a></li>
					<li class="tab col s3"><a class="black-text" href="#book">Book</a></li>
					<li class="tab col s3"><a class="black-text" href="#group">Group</a></li>
				</ul>
			</div>
			<div id="around" class="col s12">
				<table class="bordered centered responsive-table search-list">
					<thead>
						<tr>
							<th>Book Cover</th>
							<th>Book Name</th>
							<th>Author</th>
							<th>Owner</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>Huy Nguyen</td>
							<td>Minatomirai Center Building</td>
						</tr>
						<tr>
							<td>
								<img src="img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>Huy Nguyen</td>
							<td>Minatomirai Center Building</td>
						</tr>
						<tr>
							<td>
								<img src="img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>Huy Nguyen</td>
							<td>Minatomirai Center Building</td>
						</tr>
						<tr>
							<td>
								<img src="img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>Huy Nguyen</td>
							<td>Minatomirai Center Building</td>
						</tr>
						<tr>
							<td>
								<img src="img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>Huy Nguyen</td>
							<td>Minatomirai Center Building</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="people" class="col s12">Test 2</div>
			<div id="book" class="col s12">Test 2</div>
			<div id="group" class="col s12">Test 4</div>
		</div>
	</div>
</div>