<div class="home-tab">
	<div class="tab-wrapper">
		<ul class="tabs">
			<li class="tab"><a class="active black-text" href="#book">{{'BOOK' | translate}}</a></li>
			<li class="tab"><a class="black-text" href="#people">{{'PEOPLE' | translate}}</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div id="people">
		<div class="row">
			<div class="col l3" ng-repeat="people in peoples">
				<div class="card">
					<div class="card-image">
						<a href="">
							<img ng-src="{{people.url}}" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div><b>{{people.name | limitTo: 20}}{{book.bookname.length > 20 ? '...' : ''}}</b></div>
						<div>{{people.email | limitTo: 20}}{{people.email.length > 20 ? '...' : ''}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="book">
		<div class="row">
			<div class="col l3" ng-repeat="book in books">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book/{{book.id}}">
							<img ng-src="{{book.url}}" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<span ng-repeat="owner in book.owners | limitTo: 2">
								<a href="#/profile/{{owner.id}}">
									<img ng-src="{{owner.url}}" class="circle friend-owner">
								</a>
							</span>
							<span ng-if="book.owners.length > 2" class="more-owner">{{book.owners.length-2}}+</span>
						</div>
						<div><b>{{book.bookname | limitTo: 20}}{{book.bookname.length > 20 ? '...' : ''}}</b></div>
						<div>{{book.author.join(', ') | limitTo: 20}}{{book.author.join(', ').length > 20 ? '...' : ''}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>