<!-- <div class="footer-copyright indigo darken-3">
	<div class="containter">
		@2015 Copyright Text from atWare
	</div>
</div> -->

<footer class="page-footer indigo darken-3">
	<div class="row">
		<div class="col l3">
			<h5 class="white-text">Support Center</h5>
			<p><a href="" class="grey-text text-lighten-3">FAQ</a></p>
			<p><a href="" class="grey-text text-lighten-3">Hotline: <b>0933 477 392</b></a></p>
			<p><a href="" class="grey-text text-lighten-3">User guide</a></p>
			<p><a href="" class="grey-text text-lighten-3">Tips for user</a></p>
		</div>
		<div class="col l6">
			<h5 class="white-text">Book</h5>
			<div class="row">
				<div class="col l6" style="padding: 0px;">
					<p><a href="" class="grey-text text-lighten-3">Art</a></p>
					<p><a href="" class="grey-text text-lighten-3">Cooking</a></p>
					<p><a href="" class="grey-text text-lighten-3">Children/Comic</a></p>
					<p><a href="" class="grey-text text-lighten-3">Dictionary/Encyclopedia</a></p>
				</div>
				<div class="col l6" style="padding: 0px;">
					<p><a href="" class="grey-text text-lighten-3">Economy</a></p>
					<p><a href="" class="grey-text text-lighten-3">Novel</a></p>
					<p><a href="" class="grey-text text-lighten-3">Technology</a></p>
					<p><a href="" class="grey-text text-lighten-3">Travel</a></p>
				</div>
			</div>
		</div>
		<div class="col l3">
			<h5 class="white-text">Help & Contact</h5>
			<p><a href="" class="grey-text text-lighten-3">About</a></p>
			<p><a href="" class="grey-text text-lighten-3">Contact us</a></p>
			<p><a href="" class="grey-text text-lighten-3">Recruitment</a></p>
			<p><a href="" class="grey-text text-lighten-3">Advertise with us</a></p>
		</div>
	</div>
	<div class="footer-copyright">
		© 2015 Copyright Text from atWare, Inc
	</div>
</footer>