<!-- <div id="borrowPopup" class="modal"> -->
	<div class="modal-content">
		<h4 class="center-align">Request Borrow</h4>
		<div class="row">
			<div class="col l2">
				<img src="img/avatar/jack.jpg" alt="" class="responsive-img circle">
			</div>
			<div class="col l10">
				<p><b>Request from: </b>Jack (jack.atware@gmail.com)</p>
				<p><b>Book: </b>Lean Startup</p>
			</div>
		</div>
		<div class="divider"></div>
		<input id="meetup" type="date" class="datepicker left" placeholder="Choose your meet up date">
		<input type="date" class="datepicker right" placeholder="Choose your book return date">
		<textarea class="materialize-textarea" length="120" placeholder="Send your message"></textarea>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn">Cancel</a>
		<a href="#/message" class="modal-action modal-close waves-effect waves-green btn" style="margin-right:10px;">Send your request</a>
	</div>
<!-- </div> -->