body{
  background-color: #ebeff2;
}
#abc:hover{
  background-color:;
}
.tt-menu{
  color: black;
}
#brand-name{
  padding: 0px 20px 0px 20px;
  position: relative;
  float: left;
  font-size: 2.1rem;
}
.main-color{
  background-color: #3e50b4;
}
nav .nav-wrapper i{
  font-size: 20px!important;
}

textarea::-webkit-input-placeholder{
  color: #616161;
}
textarea:-moz-placeholder{
  color: #616161;
}
textarea::-moz-placeholder{
  color: #616161;
}
textarea:-ms-input-placeholder{
  color: #616161;
}

#header input[type=search]::-webkit-input-placeholder {
 color: #fff;
}
#header input[type=search]:-moz-placeholder { /* Firefox 18- */
 color: #fff;  
}

#header input[type=search]::-moz-placeholder {  /* Firefox 19+ */
 color: #fff;  
}

#header input[type=search]:-ms-input-placeholder {  
 color: #fff;  
}
#header input[type=search]:focus::-webkit-input-placeholder {
 color: #bdbdbd;
}
#header input[type=search]:focus:-moz-placeholder {  Firefox 18- 
 color: #bdbdbd;  
}

#header input[type=search]:focus::-moz-placeholder {  /* Firefox 19+ */
 color: #bdbdbd;  
}

#header input[type=search]:focus:-ms-input-placeholder {  
 color: #bdbdbd;  
}

#header input[type=search]{
  width: 300px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  background-color: #5c6bc0;
}
#header input[type=search]:hover{
  background-color: #9fa8da
}
#header input[type=search]:focus{
  background-color: #fff;
}

.container{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%!important;
}
.book-category .card img{
  width: 100%;
}
.book-category h4{
  display: inline-block;
  margin-right: 15px;
}
.book-category h5+a{
  font-size: 13px;  
}
.lender{
  margin-top: 10px;
}
[type="radio"]:checked + label:after{
  border: 2px solid #5c6bc0;
  background-color: #5c6bc0;
}
.profile{
  width: 100%;
  position: relative;
  padding-bottom: 0px;
}
.avatar-img{
  width: 120px;
  height: 120px;
}
.profile-info{
  position: absolute;
  bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}
.profile-info h2{
  margin: 0.8rem 0 0.8rem 0;
}
.card .card-content p{
  margin: 0.8rem 0 0.8rem 0;
}
/*.card .card-content .collection{
  border: none;
}
.card .card-content .collection .collection-item{
  border: none;
  padding: 0px;
  margin: 0.8rem 0 0.8rem 0;
  color: #3f51b5;
}*/
.book-list img, .search-list img{
  width: 50px;
}
.book-list tr, .search-list tr{
  cursor: pointer;
}
.page-footer{
  padding: 0 25px 0 25px;
}
.page-footer p{
  margin: 8px 0 8px 0;
}

.input-field input[type=text] {
  display: inline-block;
  width: calc(100% - 11rem)!important;
}
.input-field input[type=search] {
  display: inline-block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
  background-color: #fff;
}
.input-field {
  position: relative;
  min-width: 300px;
  overflow: hidden;
  margin-top: 1rem;
}
.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}
.owner .row{
  margin: 15px 0;
}
.owner .material-icons{
  font-size: 15px;
  position: relative;
  bottom: -3px;
}
#borrowPopup{
  max-height: 80%;
}
.borrow-info{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.mybadge{
  padding: 0px 10px;
  border-radius: 8px;
  background-color: #26a69a;
  color: #fff;
}
.message-content{
  border-left: 1px solid #e0e0e0;
  padding-left: 25px!important;
}
.message-list .collection img{
  max-width: 42px;
}

.request-book{
  padding: 15px 5px;
}

.tabs .indicator {
  background-color: #26a69a;
}
#user-header-dropdown{
  width: 200px!important;
}
#user-header-dropdown-menu{
  position: relative;
}
.header-notify{
  background: #f44336;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 18px;
}

.request-book .btn{
  padding: 0 1.2rem;
}


.home-tab{
  background-color: white;
}
.tab-wrapper{
  width: 60%;
  margin: 0 auto;
}
.tab-wrapper .tab{
  width: 33%;
  color: #000!important;
}
.book-card .card-image{
  height: 300px;
  overflow: hidden;
}
.book-card .card-content{
  position: relative;
}
.book-card .friend-owner{
  position: absolute;
  top: -25px;
  right: 0px;
  padding-right: 5px;
}
.book-card .friend-owner img{
  width: 38px;
  height: 38px;
  margin-right: 3px;
  padding-right: 0px;
  position: relative;
  top: 0px;
  box-shadow: 5px 3px 5px #616161;
}
.book-card .friend-owner .more-owner{
  padding-right: 0px;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  margin-right: 3px;
  position: relative;
  top: 0px;
  box-shadow: 5px 3px 5px #616161;
  background-color: #26a69a;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: white;
  line-height: 38px;
  font-size: 14px;
}
.profile a:not(.btn){
  color: #1a237e;
}
.profile p{
  margin: 5px 0;
}
.profile .fa{
  color: #646464;
  font-size: 20px;
  margin: 0 8px;
}
.sidebar{
  padding: 0px;
}
.sidebar-item a{
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1.3rem;
  font-size: 16px;
}
.sidebar-item a:hover{
  background-color: #26a69a;
  color: #fff;
}
.sidebar-item.active a{
  color: #fff;
  background-color: #26a69a;
}

.request-info{
  padding: 15px 5px;
  border-radius: 9px;
}

#book-title{
  padding-left: 0px;
}
