<div class="home-tab">
	<div class="tab-wrapper">
		<ul class="tabs">
			<li class="tab"><a class="black-text" href="#popular">Most Popular</a></li>
			<li class="tab"><a class="active black-text" href="#around">Book Around You</a></li>
			<li class="tab"><a class="black-text" href="#new">New Release</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div id="popular">
		<div class="row">
			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book1.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/the.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book2.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/tue.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book3.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/jack.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book4.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/kitano.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book5.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/jack.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book6.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/tue.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book7.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/huy.jpg" class="circle friend-owner">
							</a>
							<span class="more-owner">2+</span>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book8.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/the.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="around">
		<div class="row">
			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book1.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/the.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book2.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/huy.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book3.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/jack.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book4.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/kitano.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book5.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/jack.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book6.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/the.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book7.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/huy.jpg" class="circle friend-owner">
							</a>
							<span class="more-owner">2+</span>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book8.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/tue.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="new">
		<div class="row">
			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book1.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/the.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book2.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/jack.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book3.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/kitano.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book4.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/kitano.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book5.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/jack.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book6.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/jack.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book7.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/huy.jpg" class="circle friend-owner">
							</a>
							<span class="more-owner">2+</span>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>

			<div class="col l3">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book">
							<img src="img/book/book8.jpg" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<a href="#/profile">
								<img src="img/avatar/the.jpg" class="circle friend-owner">
							</a>
						</div>
						<div><b>Fake Id</b></div>
						<div>Lamar Giles</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>