<div class="home-tab">
	<div class="tab-wrapper">
		<ul class="tabs">
			<li class="tab"><a class="active black-text" href="#book">{{'ALL_BOOK' | translate}}</a></li>
			<li class="tab"><a class="black-text" href="#people">{{'PEOPLE' | translate}}</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div id="book">
		<h4>{{'RECOMMENDATION' | translate}}</h4>
		<div class="row">
			<div class="col l3" ng-repeat="book in recommendation | limitTo: 8">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book/{{book.id}}">
							<img ng-src="{{book.url}}" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="wrap-text">
							<a href="#/book/{{book.id}}" style="color:#000;">
								<b>{{book.bookname}}</b>
							</a>
						</div>
						<div class="wrap-text">
							<a href="#/book/{{book.id}}" style="color:#000;">
								Author: {{book.author.join(', ')}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<h4>{{'ALL_BOOK' | translate}}</h4>
		<div class="row">
			<div class="col l3" ng-repeat="book in books | filter:hasOwner">
				<div class="card book-card">
					<div class="card-image">
						<a href="#/book/{{book.id}}">
							<img ng-src="{{book.url}}" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="friend-owner">
							<span ng-repeat="owner in book.owners | limitTo: 2">
								<a href="#/profile/{{owner.id}}">
									<img ng-src="{{owner.url}}" class="circle friend-owner">
								</a>
							</span>
							<span ng-if="book.owners.length > 2" class="more-owner">{{book.owners.length-2}}+</span>
						</div>
						<div class="wrap-text">
							<a href="#/book/{{book.id}}" style="color:#000;">
								<b>{{book.bookname}}</b>
							</a>
						</div>
						<div class="wrap-text">
							<a href="#/book/{{book.id}}" style="color:#000;">
								Author: {{book.author.join(', ')}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="people">
		<div class="row">
			<div class="col l3" ng-repeat="user in users">
				<div class="card">
					<div class="card-image">
						<a href="#/profile/{{user.id}}">
							<img ng-src="{{user.url}}" class="responsive-img">
						</a>
					</div>
					<div class="card-content">
						<div class="wrap-text">
							<a href="#/profile/{{user.id}}" style="color:#000;">
								<b>{{user.name}}</b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>