<div class="card-panel profile center-align">
	<div class="">
		<img ng-src="{{user.url}}" alt="" class="responsive-img circle avatar-img">
	</div>
	<div class="">
		<a href=""><i class="fa fa-facebook"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
		<a href=""><i class="fa fa-link"></i></a>
	</div>
	<h1 style="font-size:30px"><a href="#/profile/{{user.id}}">{{user.name}}</a></h1>
	<div class="divider" style="margin-top: 15px;"></div>
	<div class="row">
		<div class="col l2">
			<a href="#/profile">
				<p style="font-size: 20px;">10</p>
				<p><b>私が持っている本</b></p>
			</a>
		</div>
		<div class="col l2">
			<a href="#/borrow">
				<p style="font-size: 20px;">5</p>
				<p><b>今までに借りた本</b></p>
			</a>
		</div>
		<div class="col l2">
			<a href="#/lend">
				<p style="font-size: 20px;">6</p>
				<p><b>今までに貸した本</b></p>
			</a>
		</div>
		<div class="col l2">
			<a href="">
				<p style="font-size: 20px;">100</p>
				<p><b>評判</b></p>
			</a>
		</div>
		<div class="col l2">
			<a href="">
				<p style="font-size: 20px;">2</p>
				<p><b>Follower</b></p>
			</a>
		</div>
		<div class="col l2">
			<a href="">
				<p style="font-size: 20px;">5</p>
				<p><b>Following</b></p>
			</a>
		</div>
	</div>
</div>