<div class="card-panel profile center-align">
	<div class="">
		<img ng-src="{{user.url}}" alt="" class="responsive-img circle avatar-img">
	</div>
	<div class="">
		<a href=""><i class="fa fa-facebook"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
		<a href=""><i class="fa fa-link"></i></a>
	</div>
	<h1 style="font-size:30px"><a href="#/profile/{{user.id}}">{{user.name}}</a></h1>
	<div class="divider" style="margin-top: 15px;"></div>
	<div class="row">
		<div class="col l3">
			<a href="#/profile/{{user.id}}">
				<p style="font-size: 20px;">{{user.stats.book}}</p>
				<p><b>{{'BOOK_OWNED' | translate}}</b></p>
			</a>
		</div>
		<div class="col l3">
			<a href="#/borrow">
				<p style="font-size: 20px;">{{user.stats.borrow}}</p>
				<p><b>{{'BOOK_BORROW' | translate}}</b></p>
			</a>
		</div>
		<div class="col l3">
			<a href="#/lend">
				<p style="font-size: 20px;">{{user.stats.lend}}</p>
				<p><b>{{'BOOK_LEND' | translate}}</b></p>
			</a>
		</div>
		<div class="col l3">
			<a href="">
				<p style="font-size: 20px;">{{user.point}}</p>
				<p><b>{{'REPUTATION' | translate}}</b></p>
			</a>
		</div>
	</div>
</div>