<nav class="indigo">
    <div class="nav-wrapper" id="header">
        <a href="#/" id="brand-name">Book Sharing</a>
        <div class="left">
            <form>
                <div class="input-field">
                    <input type="search" placeholder="{{'HEADER_SEARCH_PLACEHOLDER' | translate}}" id="search-field" class="field" required maxlength="">
                    <label for="search-field"><i class="mdi-action-search"></i></label>
                </div>
            </form>
        </div>
        <ul class="right">
            <li style="position: relative;">
                <a href="#/message">
                    <i class="material-icons">message</i>
                </a>
            </li>
            <li style="position: relative;">
                <a href="#/borrow">
                    <i class="material-icons">notifications</i>
                </a>
                <div class="header-notify"></div>
            </li>
            <li ng-if="user != null" >
                <a id="user-header-dropdown-menu" class="dropdown-button" href="#/" data-activates="user-header-dropdown" ng-click="open(this);">
                    {{user.name}}<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li ng-if="user == null">
                <a href="" ng-click="login();">{{'LOGIN' | translate}}</a>
            </li>
        </ul>
        <ul id="user-header-dropdown" class="dropdown-content">
            <li><a href="#/profile/{{user.id}}">{{'PROFILE' | translate}}</a></li>
            <li><a href="#/manage-book">{{'MANGE_BOOK' | translate}}</a></li>
            <li><a href="" ng-click="logout();">{{'LOGOUT' | translate}}</a></li>
        </ul>
    </div>
</nav>