<div class="container">
	<profile-banner user="user"></profile-banner>

	<div class="row">
		<div class="col l3">
			<div class="card basic-information">
				<div class="card-content">
					<div class="card-title black-text">情報</div>
					<div class="divider"></div>
					<p><b>名前: </b>{{user.name}}</p>
					<p><b>場所: </b>{{user.location}}</p>
					<p><b>評判: </b>{{user.point}}</p>
				</div>
			</div>

			<div class="card user-follower-information">
				<div class="card-content">
					<div class="card-title black-text">Follower</div>
					<div class="divider"></div>
				</div>
			</div>

			<div class="card user-following-information">
				<div class="card-content">
					<div class="card-title black-text">Following</div>
					<div class="divider"></div>
				</div>
			</div>
		</div>

		<div class="col l9">
			<div class="card-panel">
				<div class="row">
					<ul class="tabs">
						<li class="tab col s4"><a class="active black-text" href="#book">本</a></li>
						<li class="tab col s4"><a class="black-text" href="#recommendation">おすすめの本</a></li>
						<li class="tab col s4"><a class="black-text" href="#user-rating">おすすめ度</a></li>
					</ul>
				</div>

				<div id="book">
					<table class="bordered centered responsive-table book-list">
						<thead>
							<tr>
								<th>本の表紙</th>
								<th>本の名前</th>
								<th>作者</th>
								<th>タイプ</th>
								<th ng-if="currentUser.id != user.id"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="book in user.books | orderBy: 'bookname'">
								<td  ng-click="redirect(book.id);">
									<img ng-src="{{book.url}}" alt="" class="responsive-img">
								</td>
								<td  ng-click="redirect(book.id);">{{book.bookname}}</td>
								<td  ng-click="redirect(book.id);">{{book.author.join(', ')}}</td>
								<td  ng-click="redirect(book.id);">{{book.type}}</td>
								<td ng-if="currentUser.id != user.id">
									<button 
										class="btn waves-effect modal-trigger"
										ng-click="jLoader.openModal('borrowPopup');setBorrow(user,book);">
										借りる
									</button>
								</td>
							</tr>
						</tbody>
					</table>	
				</div>
				
				<div id="recommendation">
					<table class="bordered centered responsive-table book-list">
						<thead>
							<tr>
								<th>本の表紙</th>
								<th>本の名前</th>
								<th>作者</th>
								<th>タイプ</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="book in user.recommendation | orderBy: 'bookname'">
								<td>
									<img ng-src="{{book.url}}" alt="" class="responsive-img">
								</td>
								<td>{{book.bookname}}</td>
								<td>{{book.author.join(', ')}}</td>
								<td>{{book.type}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="user-rating">
					<ng-comment comments="commentList" add-message="addMessage(msg)"></ng-comment>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="borrowPopup" class="modal" borrow-form></div>